{% extends './base.html' %}
{% load static %}

{% block css_links %}
<link rel="stylesheet" href="{% static 'libs/leaflet/leaflet.css' %}">
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block js_links %}
<script src="{% static 'libs/leaflet/leaflet.js' %}"></script>
<script src="{% static 'javascript/main.js' %}"></script>
{% endblock %}

{% block content %}
<div id="grid-container">
    <div id="grid-1">
        <div id="map"></div>
    </div>

    <div id="grid-2">
        <div class="column-menu" id="menu-information">
            <p id="menu_title"> Bienvenidos al Mapa de Lugares Conocidos de mi Barrio</p>
            <img src="./media/imagen_lugar/Mi_casa.jpeg" alt="Imagen Anacaona" id="imagenlugar">
            <p id="menu_text"></p>
        </div>
    </div>

</div>

{% endblock %}